.inside-date-container input{
    
    padding: 16px 0px 0px 13px;
    box-sizing: border-box;
    height: 54px;
    text-transform: uppercase;
    font-family: 'Regular';
    width: 100%;
    color: var(--color-grey-07);
    background-color: transparent;
    z-index: 11;
    cursor: pointer;
}

.inside-date-container input.inside-date-input{
    border: 1px solid var(--color-grey-05);
}

.inside-date-container input:focus{
    outline: none;
}

.inside-date-container{
    position: relative;
    width: fit-content;
    width: 100%;
    display: flex;
    display: flex;
    align-items: center;
}

.calendar-inside-icon{
    position: absolute;
    right: 13px;
    z-index: 10;
}



.medium{
    width: 49%;
}