.main-container-instrument-register-page{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding-top: 6rem;
    box-sizing: border-box;
    max-width: 800px;
}

.flex-form-line{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.main-form{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.radio-title{
    color: var(--color-grey-06);
    margin: 0;
    user-select: none;
}

.radio-group{
    display: flex;
    gap: 20px;
}

