.details-container{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 7%;
    width: fit-content;
    margin: 0 auto;
    position: relative;
}

.details-section-container{
    box-shadow: 0px 4px 25px #00000022;
    height: 90%;
    display: flex;
    max-width: 1300px;
   margin-top: 2rem;
   position: relative;
}

.instrument-detail-area{
    background-color: var(--color-athens-gray);
    flex: 1;
    width: fit-content;
    padding: 44px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.detail-title{
    color: var(--color-grey-07);
}

.detail-area{
    display: flex;
    flex-direction: column;
    gap: 6px;
    min-width: 10rem;
}

.detail-subtitle{
    text-transform: uppercase;
    color: var(--color-grey-07);
    font-size: 12px;
    margin: 0;
}

.detail-content{
    text-transform: capitalize;
    color: var(--color-black);
    font-size: 16px;
    margin: 0;
    max-width: 132px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.other-details-area{
    padding: 44px;
    width: 100%;
}

.detail-title{
    margin: 0;
    font-size: 25px;
}

.details-section{
    display: flex;
    row-gap: 21px;
    column-gap: 55px;
    flex-wrap: wrap;
    margin-top: 28px;
    position: relative;
}

.other-details-area{
    width: 100%;
    display: flex;
    gap: 49px;
    flex-wrap: wrap;
}


.other-details-section{
    width: 40%;
    height: fit-content;
}

.top-infos-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.flex-infos-area{
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

.no-between{
    justify-content: flex-start!important;
    gap: 40px;
}

.bolinha{
    height: 25px;
    width: 25px;
    border-radius: 999px;
}



@media(max-width: 1900px){
    .detail-area{
        min-width: fit-content;
    }

    .other-details-section, .edit-page .other-details-section{
        width: 100% !important;
    }

}




