/* TableMovSaidaUso.css */

.table-saidauso {
	margin-top: 4%;
	width: 100%;
	border-collapse: collapse;
	justify-content: center;
	align-items: center;
}

.first-colunm-table {
	width: 10%;
}

.table-saidauso th {
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
	padding: 10px;
}

.table-saidauso td {
	padding: 10px;
	border-bottom: 1px solid #ccc;
	color: #002936;
	font-size: 0.9rem;
}

.table-saidauso th,
.table-saidauso td {
	text-align: center; /* Centraliza o texto */
}

.table-saidauso td.remove-item-list {
	font-size: 0.65rem;
	width: 0.1rem;
	cursor: pointer;
	text-decoration: underline;
}

.dropdown-select-ref {
	width: 38%;
	height: 1.8rem;
	margin-left: 1%;
	border: 1px solid #7995a6;
	border-radius: 0px;
	padding-left: 5px;
}

.no-items-table{
	font-size: 0.7rem;
	border-bottom: 0px solid #fff;
}
