.table-saidauso{
    margin-top: 3%;
    width: 100%;
}

.firt-line {
    display: flex;
    height: 3rem;
    justify-content: center;
    gap: 14rem;
    font-size: 0.9rem;
    align-items: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.table-saidauso td {
    padding-top: 1%;
    font-size: 12px;
}