.login-container{
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    overflow-y: none !important ;
    background-image: url('../../../assets/images/background01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-top-section{
    position: fixed;
    display: inline;
    top: 32px;
    left: 32px;
}

.logo-top-section img{
     width: 105px;
}

.login-content-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-content-dialog{
    /* width: 8rem;
    height: 8rem; */
    width: 30%;
    background-color: var(--color-white);
    padding: 45px;
    text-align: center;
}

.login-content-dialog img{
    height: 79px;
}

.black-light{
    color: var(--color-black);
    font-family: 'Light';
}

