.btn-dark {
	background-color: var(--sec-dark-gray);
	border-style: none;
	font-family: 'Regular';
	color: var(--white);
	border-radius: 2px;
	cursor: pointer;
	padding: 7px 16px;
}

.btn-dark:hover {
	background-color: #364a57;
	transition: var(--transition-pattern);
}

.close-button {
	background-color: #ED0007;
	color: #fff;
	width: 52px;
	height: 48px;
	border: none;
	position: absolute;
	top: 25px;
	right: 25px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.close-button:hover{
	background-color: var(--dark-red);
	transition: var(--transition-pattern);
}


.btn-blue-1{
	background-color: var(--main-blue);
	border-style: none;
    height: 2.5rem;
	width: 13%;
	font-size: 14px;
	color: #fff;
	border-radius: 2px;
	cursor: pointer;
}


