.btn-dark {
	background-color: var(--color-grey-07);
	border-style: none;
	font-family: 'Regular';
	color: var(--color-white);
	border-radius: 2px;
	cursor: pointer;
	padding: 7px 16px;
}

.btn-dark:hover {
	background-color: #364a57;
	transition: all 350ms ease-out;
}

.close-button {
	background-color: #ED0007;
	color: #fff;
	width: 52px;
	height: 48px;
	border: none;
	position: absolute;
	top: 25px;
	right: 25px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.close-button:hover{
	background-color: var(--color-red-brand-03);
	transition: all 350ms ease-out;
}


.btn-blue-1{
	background-color: var(--color-turquoise-01);
	border-style: none;
    height: 2.5rem;
	width: 13%;
	font-size: 14px;
	color: #fff;
	border-radius: 2px;
	cursor: pointer;
}


