.btn-dark {
	background-color: var(--sec-dark-gray);
	border-style: none;
    height: 1.8rem;
	width: 9.2%;
	font-size: 14px;
	color: var(--white);
	border-radius: 2px;
	cursor: pointer;
}

.btn-dark:hover {
	background-color: #364a57;
	transition: 0.4s;
}

.closeButton {
	background-color: #ED0007;
	color: #fff;
	width: 52px;
	height: 48px;
	border: none;
	font-size: 20px;
	position: absolute;
	top: 25px;
	right: 25px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.closeButtonWithoutBack {
	width: 5%;
	height: 5%;
	border: none;
	position: absolute;
	top: 25px;
	right: 25px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
}

.btn-blue-1{
	background-color: var(--main-blue);
	border-style: none;
    height: 2.5rem;
	width: 13%;
	font-size: 14px;
	color: #fff;
	border-radius: 2px;
	cursor: pointer;
}

.closeIcon {
	size: 35;
	align-items: center;
	justify-content: center;
	display: flex;
	align-self: center;
}
