.details-general-box{
    background-color: var(--color-white);
    /* width: 50%; */
    /* height: 50%; */
    /* display: flex; */
    /* justify-content: center; */
    padding: 40px;
    /* align-items: center; */
    box-shadow: 0px 4px 25px #00000022;
}
.details-general-container{
    width: 98.5vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 7%; */

}