.overlay-active {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: visible !important;
  }

  .overlay-inative{
    opacity: 0;
    display: none;
  }


  .popup-inative {
    height: 0;
    width: 0;
    background-color: none;
    opacity: 0;
  }


  
  .popup-active {
    width: auto; 
    height: auto;
    background-color: var(--color-white);
    position: relative;
    transition: height 0.1s ease, width 0.1s ease;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .popup-inative .close-button {
    width: 0;
    height: 0;
    display: none;
  }
  
  .popup-overlay-container {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: all 0.2s ease; */
    visibility: hidden;
  }


  .error-title{
    font-family: 'Bold';
    color: var(--color-red-02);
  }

  .error-body{
    font-family: 'Medium';
  }

  .error-body, .error-title, .feedback-title{
    margin: 0;
  }


  .popup-header{
    text-align: center;
  }

  .module-popup-content{
    text-align: center;
  }

  .feedback-title{
    color: var(--black) !important;
    font-family: 'Bold';
  }
