
.inside-select-container{
    position: relative;
    padding-right: 12px;
    width: 31%;
    border: 1px solid var(--color-grey-05);
}
.inside-select{
    border: none;
    height: 100%;
    position: relative;
    width: 100%;
    padding: 22px 0px 7px 10px;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--color-grey-07);
}

.label-select{
    position: absolute;
    top: 6px;
    z-index: 10;
    left: 14px;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--color-grey-06);
}

.full{
    width: 100%;
    box-sizing: border-box;
    height: 54px;
}

@media (max-width: 1356px) {
    
    .label-select{
        font-size: 10px;
    }

}
