main {
	display: flex;
	justify-content: center;
}

.container-main {
	height: 220vh;
	width: 83%;
	margin-top: 7%;
	background-color: #fff;
}

.top-information h1 {
	color: #476273;
	font-size: 1.5rem;
}

.top-information p {
	margin-top: 5%;
	font-size: 0.9rem;
	color: #476273;
}

.mov-info {
	width: 100%;
	margin-top: 15%;
	display: flex;
	gap: 7%;
}

.mov-info h1 {
	color: #476273;
	font-size: 0.9rem;
}

.responsavel-recebimento {
	padding-top: 11%;
}

.form-column {
	width: 25%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.date-input {
	border: 1px solid #7995a6;
	padding-left: 12px;
	height: 2rem;
	cursor: pointer;
	
}

.flex-column-calendar-icon{
	display: flex;
	width: 100%;
	flex-direction: column;
	position: relative;
}

.calendar-input{
	position: absolute;
	bottom: 0;
	right: 9px;
	display: flex;
	align-items: center;
	height: 100%;
	cursor: pointer;
}

.margin-top-checkbox{
	margin-top: 4%;
}

.confirm-btn-center{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 8%;
	padding-bottom: 15%;
}



.date-input:focus {
	outline: 1px solid #00738f;
}

.mainText {
	font-size: 28px;
	font-weight: bold;
	color: #002936;
	position: absolute;
	top: 25px;
	left: 25px;
}

.normalText {
	position: absolute;
	font-size: 16px;
	top: 85px;
	left: 27px;
	color: #002936;
}


input[type="date"]::-webkit-calendar-picker-indicator {
	opacity: 0;
	height: 40px;
	z-index: 1;
	width: 30px;
	cursor: pointer;
}
