.main-container-laboratory-register-page {
	width: 80%;
	height: 100%;
	margin: 0 auto;
	padding-top: 7rem;
	box-sizing: border-box;
	max-width: 800px;
}

.title-laboratory-register-page {
	text-align: center;
	margin-bottom: 28px;
	font-family: "Medium";
}

.btn-confirm-laboratory-page {
	display: flex;
	align-self: flex-end;
}
