.navbar li ul.dropdown {
	position: absolute;
	height: fit-content;
	visibility: hidden;
	z-index: -1 !important;
	background-color: aqua;
	top: -100vh;
	transition: top  cubic-bezier(0.215, 0.610, 0.355, 1) .2s;
}


.dropdown li a {
	justify-content: flex-start;
	height: 2.2rem;

	padding: 0;
}

.navbar li ul.dropdown.open {
	display: block;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    position: absolute;
	visibility: visible;
    margin: 0;
    width: 100%;
    top: 100%;
	padding: 12px 12px;
	box-sizing: border-box;
	z-index: -1 !important;
}



.navbar-option-li{
	position: static !important;
    height: auto !important;
    display: block !important;
    align-items: normal !important;
}

.drop-link{
	padding: 10px;
}

.drop-link:hover{
	background-color: var(--hover);
	padding:  0 4px;

	box-sizing: border-box;
	width: 100%;

}

li .border{
	width: 93% !important;
}

