.navbar li ul.dropdown {
	position: absolute;
	height: fit-content;
	width: 90%;
	display: none;
	z-index: 999;
}

.dropdown li a {
	justify-content: flex-start;
	height: 2.2rem;

	padding: 0;
}


.navbar li ul.dropdown.open {
	display: block;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    padding-bottom: 8px;
    position: absolute;
    margin: 0;
    width: 100%;
    top: 100%;
	padding: 12px 12px;
	box-sizing: border-box;
}



.navbar-option-li{
	position: static !important;
    height: auto !important;
    display: block !important;
    align-items: normal !important;
}

.drop-link{
	padding: 10px;
}

.drop-link:hover{
	background-color: var(--hover);
	padding:  0 4px;

	box-sizing: border-box;
	width: 100%;

}

li .border{
	width: 93% !important;
}

.nav-header-option{
	&.dropdown{
		transition: .2s;
	}
}