.navbar li ul.dropdown {
	position: absolute;
	height: fit-content;
	visibility: hidden;
	
	top: -100vh;
	transition: top 350ms ease-out;
}



.dropdown li a {
	justify-content: flex-start;
	height: 2.2rem;
	padding: 0;
}

.dropdown{
	box-shadow: 1px 1px 6px var(--color-grey-02) !important;
}

.navbar li ul.dropdown.open {
	display: block;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    position: absolute;
	visibility: visible;
    margin: 0;
	z-index: -1 !important;
    width: 100%;
    top: 100%;
	padding: 12px 12px;
	box-sizing: border-box;
}



.navbar-option-li{
	position: static !important;
    height: auto !important;
    display: block !important;
    align-items: normal !important;
}

.drop-link{
	padding: 10px;
}

.drop-link:hover{
	color: var(--color-turquoise-01);
	transition: all 350ms ease-out;
}

li .border{
	width: 93% !important;
}

