.options-list {
	padding: 0px;
	margin: 0px;
	border: 1px solid #7995a6;
	max-height: 10rem;
    overflow-y: scroll;
}

.input-container {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
}

.input-area {
	display: flex;
	align-items: center;
	border: 1px solid #7995a6;
	padding-left: 12px;
	width: 100%;
	height: 2rem;
	font-size: 0.7rem;
}

.input-area:focus {
	outline: 1px solid #00738f;
}

.container-inputsearch {
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;
}

.arrow-style {
	display: flex;
	position: absolute;
	right: 2%;
	pointer-events: none;
}

.search-itens {
	position: absolute;
	top: 100%;
	width: 100%;
	background-color: white;
	z-index: 999;
}

.search-itens li {
	list-style: none;
	font-size: 14px;
	padding-left: 12px;
	height: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.search-itens li:hover {
	cursor: pointer;
	background-color: #cccccc4d;

}
.none {
	display: none;
}