

.container {
	z-index: 999;
	position: absolute;
	width: 100%;
	height: 4.5rem;
	top: 0px;
	left: 0px;
	box-shadow: 0px -3px 21px 0px rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
}

.logoImg {
	left: 0;
	width: 5.8rem;
	padding-left: 7.2rem;
	position: absolute;
}

.navbar {
	display: flex;
	align-items: center;
	flex-direction: row;

	height: 100%;
	width: 100%;
	justify-content: center;
}

.navbar ul {
	display: flex;
	padding: 0;
	list-style: none;
	height: 100%;
	align-items: center;
	margin-left: 6rem;
}

.navbar li {
	position: relative;
	height: 100%;
}

.navbar li a {
	padding: 0px 27px;
	width: auto;
	margin-left: 17px;
	gap: 5px;
	height: 100%;
}

.navbar ul li a:hover {
	background-color: #cccccc93;
}

.menu-toggle {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	cursor: pointer;
	background-color: red;
	width: 7.2%;
	height: 100%;
	z-index: 999;
	right: 0px;
}

.bar {
	display: flex;
	width: 25%;
	height: 2.79%;
	background-color: #ffffff;
	margin: 3px 0;
}

/* ------------- sliding menu ------------------ */
.hidden {
	display: none;
}

.visible {
	display: inherit;
}

/* ----- animations--------- */
/* clicked */
.bar.clicked:nth-child(1) {
	transform: rotate(45deg) translate(0.31em, 0.23em);
	transition: ease-out 0.5s;
}

.bar.clicked:nth-child(2) {
	transform: scale(0.1);
	transition: ease-out 0.5s;
}

.bar.clicked:nth-child(3) {
	transform: rotate(135deg) translate(-0.42em, 0.4em);
	transition: ease-out 0.5s;
}

/* unclicked */
.bar.unclicked {
	transform: rotate(0) translate(0);
	transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

a {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

.menu {
	position: fixed;
	top: 4.5rem;
	right: 0;
	width: 25%;
	height: 35%;
	background-color: #fff;
	color: #000;
	transform: translateX(110%);
	transition: ease-in-out 0.3s;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.menu-visible {
	transform: translateX(0%);
	transition: 0.4s ease-in;
	display: flex;
	justify-content: center;
	font-size: 0.8rem;
	padding: 0px 15px 0px 15px;
	z-index: 999;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 950;
}

.no-scroll {
	overflow: hidden;
}
