

.container {
	z-index: 999;
	position: fixed;
	width: 100%;
	height: 4.5rem;
	top: 0px;
	left: 0px;
	box-shadow: var(--box-shadow);
	display: flex;
	align-items: center;
	background-color: var(--color-white);
}

.logoImg {
	left: 0;
	width: 5.8rem;
	padding-left:2rem;
	position: absolute;
}

.navbar {
	display: flex;
	align-items: center;
	flex-direction: row;
	height: 100%;
	width: 100%;
	justify-content: center;
	background-color: #fff;
}

.navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
    height: 100%;
    margin-left: 8rem;
}


.navbar li {
	position: relative;
    height: 100%;
    display: flex;
    align-items: center;
	cursor: pointer;
	background-color: #fff;
}


.navbar ul li p:hover {
	color: var(--color-turquoise-01);
	text-decoration: underline;
	transition: all 350ms ease-out;
}
.nav-header-option{
	padding: 0px 27px;
	width: auto;
	height: 100%;
	display: flex;
	align-items: center;
	user-select: none;
	background-color: #fff;
	background-color: #fff;
	position: relative;
	z-index: 999;
}



.navbar ul li p{
	font-family: 'Medium';
}

.menu-toggle {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	cursor: pointer;
	max-width: 88px;
	background-color: var(--color-red-brand-01);
	width: 7.2%;
	height: 100%;
	z-index: 999;
	right: 0px;
}

.menu-toggle:hover{
background-color: var(--color-red-brand-03);
}

.bar {
	display: flex;
	width: 25%;
	height: 2.79%;
	background-color: #ffffff;
	margin: 3px 0;
}



a {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

.menu {
	position: fixed;
	top: 4.5rem;
	right: 0;
	background-color: #fff;
	color: #000;
	transform: translateX(110%);
	transition: ease-in-out 0.3s;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 33px;
	width: 16.5rem;
}

.menu-visible {
	transform: translateX(0%);
	transition: 0.4s ease-in;
	display: flex;
	justify-content: center;
	font-size: 0.8rem;
	z-index: 999;
	box-shadow: var(--box-shadow);
	width: 16.5rem;
}

.overlay {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 999;
	transition: all 350ms ease-out; 
}

.no-scroll {
	overflow: hidden;
}
