
.menu-option-info {
	background-color: #fff;
	display: flex;
	align-items: center;
	gap: 15px;
	border-top: 0.4px solid #cad6dd;
	cursor: pointer;

}

.menu-option-info:hover{
	background-color: var(--hover);
	margin: 2px;
	box-sizing: border-box;

}

.menu-option-icon {
    margin-left: 15px;
    margin-top: 3px;
}
