.mov-info-lab-return{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
}


.input-view-only-container{
  display:flex;
  flex-direction: column;
  padding: 7px 17px;
  box-sizing: border-box;
  height: 54px;
  border: 1px solid var(--color-grey-05);
  width: 49%;
}

.placeholder{
  text-transform: uppercase;
  font-size: 12px;
}

.view-only-value{
  color: var(--color-grey-08);
  font-size: 16px;
}

  
  .custom-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .custom-button:hover {
    background-color: #0056b3;
  }
  
  .custom-file-input {
    position: relative;
    display: inline-block;
  }
  
  .custom-file-input input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }

  h3{
    color: var(--color-grey-06);
  }