
.table-container {
	width: 100%;
	border-collapse: collapse;
	align-items: center;
}

.first-line{
    /* width: 100vw; */
    justify-content: space-around;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
}

.table-container-main{
	display: flex;
    gap: 2rem;
    flex-direction: column;
    width: 100%;
    height: 15rem;
    background: aliceblue;
}




.table-container th {
	min-width: 155px;
	padding: 10px 0; 
}


.table-container tr th:last-child {
	min-width: 78px !important;
}



.table-container td {
	padding: 10px;
	border-bottom: 1px solid var(--color-grey-02);
}



.select-td{
	width: 30%;
}

.table-container th,
.table-container td {
	text-align: center;
	 /* Centraliza o texto */
}

.table-container td.remove-item-list {
	width: 0.1rem;
	cursor: pointer;
	text-decoration: underline;
}

.remove-item-list:hover{
	transition: var(-- --transition-pattern);
	color: var(--color-turquoise-03);
}

.dropdown-select-ref {
	width: 10rem;
	height: 1.8rem;
	margin-left: 1%;
	border: 1px solid var(--color-grey-05);
	border-radius: 0px;
	padding-left: 5px;
}

select:focus{
	outline: none;
}

.td-text{
	width: 8rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: auto;
}


