
.table-container {
	width: 100%;
	border-collapse: collapse;
	align-items: center;
}

.first-line{
    /* width: 100vw; */
    justify-content: space-around;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
}

.table-container-main{
	display: flex;
	gap: 2rem;
	flex-direction: column;
}




.table-container th {

	padding: 10px;
}




.table-container td {
	padding: 10px;
	border-bottom: 1px solid var(--sec-light-gray);
}





.table-container th,
.table-container td {
	text-align: center;
	 /* Centraliza o texto */
}

.table-container td.remove-item-list {
	width: 0.1rem;
	cursor: pointer;
	text-decoration: underline;
}

.dropdown-select-ref {
	width: 100%;
	height: 1.8rem;
	margin-left: 1%;
	border: 1px solid #7995a6;
	border-radius: 0px;
	padding-left: 5px;
}

.td-text{
	width: 9rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: auto;
}


