.expandable-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaçamento entre os inputs e botões */
}

.input-wrapper {
    display: flex;
    gap: 16px;/* Alinha os elementos verticalmente */
}

.input-hidden{
    display: none;
}


.flex-expandable-buttons{
    display: flex;
    width: fit-content;
    gap: 20px;

}


